.contenedor{
    background-image: linear-gradient(to bottom right, #dedede, #a0a0a0);
    width: 400px;
    height: 500px;
    border-radius: 3%;
    padding-top: 15px;
    padding-left:10px;
    margin:200px;
    box-shadow:5px 5px 5px;
    
}

.display{
    background-color: whitesmoke;
    width: 360px;
    height: 70px;
    padding-top:23px;
    padding-left:20px;
    margin-left:11px;
}

.boton{
    width: 80px;
    height: 80px;
    border-radius: 5%;
    margin-top:20px;
    margin-left:10px;
    font-size:30px;
    text-shadow: 2px 2px #000000;
}

.calcular{
    width:174px;    
}
.operadores{
    margin-left:15px;
}